In [40]:
import sqlite3
import pandas as pd
import numpy as np

In [41]:
dd = pd.read_excel('DataDict.xlsx')
dd

,Variable,Table,Group,SubGroup,Series,CoVaTrA,Cohort,Definition,Extended Source Defn,Units,...,Name in Source,UsedInPreprocessor,UsedInPreprocessorFileName,CompareOtherForecast,Code in Source,Decimal Places,Country Concordance,Formula,DisplayNotes,Item Code
0,LandTotal,SeriesLandTotal,"Environment, Infrastructure",Land,Yes,No,No,"Land, total",NaN,Million ha,...,"Item ""Country area""",1,"AGRICULTURE, INFRASTRUCTURE",0,5110.6600,5,IFs Countries,/1000,NaN,6600.0
1,LandArea,SeriesLandArea,"Agriculture, Infrastructure, Environment",Land,Yes,No,No,Land area,Country area excluding area under inland water...,Million ha,...,Land area (1000 ha),1,AGRICULTURE,0,5110.6601,4,IFs Countries,/1000,NaN,6601.0
2,LandGrazing,SeriesLandGrazing,"Environment, Infrastructure",Land,Yes,No,No,Permanent meadows and pastures,Land used permanently (five years or more) to ...,Million ha,...,"Item ""Land under perm. meadows and pastures""",1,AGRICULTURE,0,5110.6655,5,IFs Countries,/1000,NaN,6655.0
3,LandOther,SeriesLandOther,"Environment, Infrastructure",Land,Yes,No,No,Other land,"Land area not classified as ""Agriculture"" and ...",Million ha,...,"Item ""Other Land""",1,AGRICULTURE,0,5110.6670,5,IFs Countries,/1000,NaN,6670.0
4,LandAgri,SeriesLandAgri,"Agriculture, Infrastructure, Environment",Land,Yes,No,No,Agricultural land,Land used for cultivation of crops and animal ...,1000 ha,...,"Item ""Agricultural land""",1,INFRASTRUCTURE,0,5110.6610,3,IFs Countries,NaN,NaN,6610.0
5,LandCrop,SeriesLandCrop,"Environment, Infrastructure",Land,Yes,No,No,Cropland,Land used for cultivation of crops. The total ...,Million ha,...,"Item ""Cropland""",1,AGRICULTURE,0,5110.6620,3,IFs Countries,/1000,NaN,6620.0
6,LandForest,SeriesLandForest,"Environment, Infrastructure",Land,Yes,No,No,Forest land,Land spanning more than 0.5 hectares with tree...,Million ha,...,"Item ""Forest""",1,AGRICULTURE,0,5110.6646,5,IFs Countries,/1000,NaN,6646.0
7,LandIrArea,SeriesLandIrArea,"Agriculture, Infrastructure, Environment",Land,Yes,No,No,Agriculture area actually irrigated,Land area actually irrigated that is Agriculture.,1000 ha,...,"Item ""Agriculture area actually irrigated""",0,NaN,0,5110.6611,3,IFs Country,NaN,NaN,6611.0
8,LandOther%,SeriesLandOther%,"Environment, Infrastructure",Land,Yes,No,No,"Land use, other land (% of total area)",Other land is the land not classified as Agric...,Percent,...,Other Land,0,NaN,0,Other Land (6670).%,3,IFs Country,NaN,NaN,NaN
9,LandPasture%,SeriesLandPasture%,"Environment, Infrastructure",Land,Yes,No,No,"Land use, permanent pasture (% of total area)",NaN,Percent,...,NaN,0,NaN,0,Pasture Land (6655).%,3,IFs Country,NaN,NaN,NaN

# Regular

In [42]:
dd1 = dd.head(8)

In [43]:
df = pd.read_csv('Inputs_LandUse_E_All_Data_(Normalized)/Inputs_LandUse_E_All_Data_(Normalized).csv', encoding='windows-1252')
df = df[df['Item Code'].isin(dd['Item Code'].values)]
df = df[df['Element Code'] == 5110]
df

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,6600,Country area,5110,Area,1961,1961,1000 ha,6.528600e+04,A,NaN
1,2,'004,Afghanistan,6600,Country area,5110,Area,1962,1962,1000 ha,6.528600e+04,A,NaN
2,2,'004,Afghanistan,6600,Country area,5110,Area,1963,1963,1000 ha,6.528600e+04,A,NaN
3,2,'004,Afghanistan,6600,Country area,5110,Area,1964,1964,1000 ha,6.528600e+04,A,NaN
4,2,'004,Afghanistan,6600,Country area,5110,Area,1965,1965,1000 ha,6.528600e+04,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384833,5817,'902,Net Food Importing Developing Countries,6670,Other land,5110,Area,2018,2018,1000 ha,9.913553e+05,E,NaN
384834,5817,'902,Net Food Importing Developing Countries,6670,Other land,5110,Area,2019,2019,1000 ha,9.957181e+05,E,NaN
384835,5817,'902,Net Food Importing Developing Countries,6670,Other land,5110,Area,2020,2020,1000 ha,9.973702e+05,E,NaN
384836,5817,'902,Net Food Importing Developing Countries,6670,Other land,5110,Area,2021,2021,1000 ha,9.997841e+05,E,NaN
384837,5817,'902,Net Food Importing Developing Countries,6670,Other land,5110,Area,2022,2022,1000 ha,1.001891e+06,E,NaN

In [10]:
# pd.DataFrame({'Area':list(df['Area'].unique())}).to_excel('Country.xlsx', index = False)

In [44]:
country = pd.read_excel('Country.xlsx')

In [45]:
for j in dd1.index:
    v = dd1.loc[j,'Variable']
    # m = dd.loc[j,'Element Code']
    i = dd1.loc[j,'Item Code']
    # u = dd.loc[j,'Units']
    if dd1.isnull().loc[j,'Formula']:
        f = dd1.loc[j,'Formula']
    else:
        f = "val" + str(dd1.loc[j,'Formula'])
    if dd.isnull().loc[j,'Decimal Places']:
        d = dd1.loc[j,'Decimal Places']
    else:
        d = int(dd1.loc[j,'Decimal Places'])
    print(v,f,d)
    dt = df[df['Item Code'] == i]
    dt = dt[['Area','Year','Value']]
    dt = dt.rename(columns={'Value':'val'})
    if dd1.isnull().loc[j,'Formula']:
        dt = dt
    else:
        dt.val = dt.eval(f)
    if dd1.isnull().loc[j,'Decimal Places']:
        dt = dt
    else:
        dt.val = round(dt.val, d)
    
    dt = country.merge(dt,
                        on = 'Area',
                        how = 'left')
    dt.drop(columns='Area',
            inplace=True)

    dt = dt.groupby(['Country', 'FIPS_CODE','Year']).sum(min_count=1).reset_index()
    first_last = dt.sort_values(['Country','Year']).groupby(dt['Country'])['val'] \
        .agg(['first', 'last'])
    first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
    dt.Year = dt.Year.astype('Int64')
    dt = dt.pivot_table(index = ['Country', 'FIPS_CODE'],
                    columns='Year',
                    values = 'val').reset_index()
    dt = dt.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
    dt = country.merge(dt,
                        on = ['Country','FIPS_CODE'],
                        how = 'left')
    dt.drop(columns='Area', inplace = True)
    dt.dropna(axis = 0, how = 'all', inplace=True)
    dt = dt.drop_duplicates(ignore_index=True)
    dt = dt.sort_values(by='Country')
    dt = dt.set_index(['Country','FIPS_CODE'])
    if dd1.isnull().loc[j,'Decimal Places']:
        dt = dt
    else:
        dt = dt.apply(lambda x: pd.Series.round(x, d))
    dt.to_csv(f'IFs Import/{v}.csv',
                #  index=False
                 )
dt

LandTotal val/1000 5
LandArea val/1000 4
LandGrazing val/1000 5
LandOther val/1000 5
LandAgri nan 3
LandCrop val/1000 3
LandForest val/1000 5
LandIrArea nan 3

,,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,2140.0,1745.0,2752.0,2086.0,2214.0,2307.0,2252.0,2191.00,1836.00,1896.00,...,2165.000,2457.000,2271.000,1947.0,2283.00,2493.0,2493.0,2493.0,2140.0,2493.00
Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,195.0,118.00,202.00,204.50,...,158.000,169.000,171.000,176.0,179.00,182.0,188.0,190.7,195.0,190.70
Algeria,DZA,NaN,NaN,722.0,793.0,825.0,835.0,905.0,855.72,884.34,985.22,...,1215.261,1260.508,1306.361,NaN,1381.88,NaN,NaN,NaN,722.0,1381.88
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,ARG,NaN,1356.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1391.0,NaN,NaN,NaN,NaN,1356.0,1391.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,NaN,NaN,NaN,NaN,NaN,NaN,683.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,683.0,683.00
Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Kosovo

## LandTotal

In [46]:
kosovo = [
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887
]

In [129]:
v = 'LandTotal'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = kosovo
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = dt.reset_index()
dt_em  = dt[['Country',"FIPS_CODE",'Earliest','MostRecent']]
dt  = dt.drop(columns=['Earliest','MostRecent'])
dt = dt.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="val")
dt = dt.sort_values(by = ['Country','Year'])
dt = dt.bfill(axis = 0)
dt = dt.pivot_table(index = ["Country","FIPS_CODE"],
                    columns='Year',
                    values='val')
dt = dt.merge(dt_em, on = ['Country',"FIPS_CODE"], how = 'left')
dt = dt.set_index(["Country","FIPS_CODE"])
dt = round(dt,5)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
# dt

## LandArea

In [130]:
v = 'LandArea'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = kosovo
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = dt.reset_index()
dt_em  = dt[['Country',"FIPS_CODE",'Earliest','MostRecent']]
dt  = dt.drop(columns=['Earliest','MostRecent'])
dt = dt.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="val")
dt = dt.sort_values(by = ['Country','Year'])
dt = dt.bfill(axis = 0)
dt = dt.pivot_table(index = ["Country","FIPS_CODE"],
                    columns='Year',
                    values='val')
dt = dt.merge(dt_em, on = ['Country',"FIPS_CODE"], how = 'left')
dt = dt.set_index(["Country","FIPS_CODE"])
dt = round(dt,4)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,65.223,65.223,65.223,65.223,65.223,65.223,65.223,65.223,...,65.2230,65.2230,65.2230,65.2230,65.2230,65.2230,65.2230,65.2230,65.223,65.2230
1,Albania,ALB,2.740,2.740,2.740,2.740,2.740,2.740,2.740,2.740,...,2.7400,2.7400,2.7400,2.7400,2.7400,2.7400,2.7400,2.7400,2.740,2.7400
2,Algeria,DZA,238.174,238.174,238.174,238.174,238.174,238.174,238.174,238.174,...,238.1741,238.1741,238.1741,238.1741,238.1741,238.1741,238.1741,238.1741,238.174,238.1741
3,Angola,AGO,124.670,124.670,124.670,124.670,124.670,124.670,124.670,124.670,...,124.6700,124.6700,124.6700,124.6700,124.6700,124.6700,124.6700,124.6700,124.670,124.6700
4,Argentina,ARG,273.669,273.669,273.669,273.669,273.669,273.669,273.669,273.669,...,273.6690,273.6690,273.6690,273.6690,273.6690,273.6690,273.6690,273.6690,273.669,273.6690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,88.205,88.205,88.205,88.205,88.205,88.205,88.205,88.205,...,88.2050,88.2050,88.2050,88.2050,88.2050,88.2050,88.2050,88.2050,88.205,88.2050
184,Viet Nam,VNM,32.549,32.549,32.549,32.549,32.549,32.549,32.549,32.549,...,31.3383,31.3387,31.3403,31.3429,31.3429,31.3429,31.3429,31.3429,32.549,31.3429
185,Yemen,YEM,52.797,52.797,52.797,52.797,52.797,52.797,52.797,52.797,...,52.7970,52.7970,52.7970,52.7970,52.7970,52.7970,52.7970,52.7970,52.797,52.7970
186,Zambia,ZMB,74.339,74.339,74.339,74.339,74.339,74.339,74.339,74.339,...,74.3390,74.3390,74.3390,74.3390,74.3390,74.3390,74.3390,74.3390,74.339,74.3390
187,Zimbabwe,ZWE,38.685,38.685,38.685,38.685,38.685,38.685,38.685,38.685,...,38.6850,38.6850,38.6850,38.6850,38.6850,38.6850,38.6850,38.6850,38.685,38.6850

## LandAgri
agricultural land: 52.8% (2018 est.)

In [131]:
v = 'LandAgri'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = np.asarray(kosovo)*1000*0.528
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = round(dt,3)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,37750.000,37800.000,37850.000,37905.000,37910.000,37955.000,37979.000,37980.000,...,37910.000,37910.000,37910.000,38010.000,38010.000,38313.000,38313.000,38313.000,37750.000,38313.000
1,Albania,ALB,1232.000,1232.000,1233.000,1230.000,1237.000,1240.000,1244.000,1240.000,...,1174.300,1181.700,1174.281,1174.081,1174.000,1165.555,1136.330,1135.600,1232.000,1135.600
2,Algeria,DZA,45471.000,44900.000,44510.000,44164.000,44167.000,44167.000,44251.000,44203.000,...,41456.400,41360.200,41335.141,41338.850,41316.071,41287.891,41277.037,41310.121,45471.000,41310.121
3,Angola,AGO,45177.000,45185.000,45182.000,45190.000,45187.000,45195.000,45202.000,45210.000,...,45789.000,45824.000,45772.000,45792.000,45877.000,45892.000,45897.000,45897.000,45177.000,45897.000
4,Argentina,ARG,137829.000,136434.000,134875.000,133297.000,131780.000,130948.000,129703.000,129235.000,...,120753.535,118861.080,117629.986,115930.231,116598.674,117679.250,117978.486,118848.377,137829.000,118848.377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,19232.000,19302.000,19372.000,19444.000,19514.000,19584.000,19666.000,19758.000,...,21500.000,21500.000,21500.000,21500.000,21500.000,21500.000,21500.000,21500.000,19232.000,21500.000
184,Viet Nam,VNM,6292.000,6297.000,6302.000,6307.000,6312.000,6317.000,6342.000,6367.000,...,12147.800,12172.200,12168.800,12140.500,12388.000,12360.000,12360.000,12315.000,6292.000,12315.000
185,Yemen,YEM,23337.000,23348.000,23360.000,23370.000,23380.000,23391.000,23398.000,23403.000,...,23432.600,23385.800,23452.000,23452.000,23452.000,23452.000,23452.000,23452.000,23337.000,23452.000
186,Zambia,ZMB,19307.000,19360.000,19404.000,19459.000,19513.000,19607.000,19661.000,19735.000,...,23739.000,23739.000,23839.000,23839.000,23839.000,23839.000,23839.000,23839.000,19307.000,23839.000
187,Zimbabwe,ZWE,9995.609,10068.703,10169.018,10237.736,10316.944,10331.546,10434.884,10489.189,...,15442.273,15527.772,15400.076,15467.630,15287.677,15378.863,15236.438,15276.430,9995.609,15276.430

## LandGrazing
permanent pasture: 23.5% (2018 est.)

In [135]:
v = 'LandGrazing'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = np.asarray(kosovo)*0.235
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = round(dt,5)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.000,...,30.0000,30.0000,30.00000,30.00000,30.0000,30.2620,30.2620,30.2620,30.000,30.2620
1,Albania,ALB,0.753,0.745,0.738,0.729,0.715,0.700,0.688,0.670,...,0.4782,0.4782,0.47808,0.47808,0.4780,0.4780,0.4488,0.4492,0.753,0.4492
2,Algeria,DZA,38.405,38.000,37.700,37.411,37.383,37.383,37.385,37.416,...,32.9940,32.9426,32.85171,32.84235,32.8065,32.8065,32.8065,32.8065,38.405,32.8065
3,Angola,AGO,42.007,41.985,41.962,41.940,41.917,41.895,41.872,41.850,...,40.3640,40.1670,40.10500,40.11800,40.1970,40.2070,40.2070,40.2070,42.007,40.2070
4,Argentina,ARG,118.357,116.373,114.389,112.405,110.422,108.437,106.454,104.470,...,79.4003,77.8274,76.25450,74.68100,74.6810,74.6810,74.6810,74.6810,118.357,74.6810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,15.750,15.820,15.890,15.960,16.030,16.100,16.170,16.260,...,18.2000,18.2000,18.20000,18.20000,18.2000,18.2000,18.2000,18.2000,15.750,18.2000
184,Viet Nam,VNM,0.272,0.272,0.272,0.272,0.272,0.272,0.272,0.272,...,0.6420,0.6420,0.64200,0.64200,0.6420,0.6420,0.6420,0.6420,0.272,0.6420
185,Yemen,YEM,22.000,22.000,22.000,22.000,22.000,22.000,22.000,22.000,...,22.0000,22.0000,22.00000,22.00000,22.0000,22.0000,22.0000,22.0000,22.000,22.0000
186,Zambia,ZMB,16.750,16.800,16.820,16.850,16.900,16.940,16.980,17.020,...,20.0000,20.0000,20.00000,20.00000,20.0000,20.0000,20.0000,20.0000,16.750,20.0000
187,Zimbabwe,ZWE,9.000,9.035,9.070,9.105,9.140,9.175,9.210,9.245,...,12.1000,12.1000,12.10000,12.10000,12.1000,12.1000,12.1000,12.1000,9.000,12.1000

## LandOther
other: 5.5% (2018 est.)

In [139]:
kosovo = [
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887
]

In [140]:
v = 'LandOther'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = np.asarray(kosovo)*0.055
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = round(dt,5)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1990,1991,1992,1993,1994,1995,1996,1997,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,25.97456,25.98456,25.98456,26.08056,26.20156,26.25156,26.25756,26.21956,...,26.10456,26.10456,26.10456,26.00456,26.00456,25.70156,25.70156,25.70156,25.97456,25.70156
1,Albania,ALB,0.83020,0.82615,0.82810,0.83105,0.83300,0.83395,0.83190,0.82985,...,0.77527,0.76772,0.77524,0.77537,0.77537,0.78376,0.81290,0.81351,0.83020,0.81351
2,Algeria,DZA,197.83100,197.89380,197.65960,197.67140,196.90220,196.90200,196.92380,196.87860,...,194.76170,194.85790,194.89596,194.90525,194.91903,194.93721,194.93873,194.89587,197.83100,194.89587
3,Angola,AGO,0.95122,1.07964,1.20705,1.36347,1.51889,1.69431,1.89272,2.04514,...,9.49831,10.01838,10.62543,11.16049,11.63056,12.17062,12.72069,12.72069,0.95122,12.72069
4,Argentina,ARG,110.90000,110.98760,111.07520,111.16280,111.24740,111.33300,111.41860,111.50820,...,123.81847,125.79792,127.14001,128.94777,128.38933,127.41675,127.22685,126.46540,110.90000,126.46540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,14.31900,14.60950,15.14700,15.43850,15.72300,16.00050,16.27800,16.55550,...,20.02200,20.16174,20.27682,20.36724,20.43300,20.47410,20.53164,20.53164,14.31900,20.53164
184,Viet Nam,VNM,16.44704,16.18123,15.66641,15.36360,15.06978,14.88997,14.04616,13.64334,...,5.12864,4.78882,4.75611,4.71111,4.38771,4.33981,4.26391,4.23301,16.44704,4.23301
185,Yemen,YEM,28.62200,28.61700,28.76700,28.52300,28.51800,28.51200,28.49300,28.52800,...,28.81540,28.86220,28.79600,28.79600,28.79600,28.79600,28.79600,28.79600,28.62200,28.79600
186,Zambia,ZMB,6.11600,6.13680,5.93360,5.83240,5.59720,5.45300,5.30780,5.17060,...,4.84490,5.03320,5.12133,5.30954,5.49776,5.68597,5.87419,5.87419,6.11600,5.87419
187,Zimbabwe,ZWE,6.81371,6.67148,6.84617,6.66147,6.30676,6.24664,6.02373,6.05401,...,5.56780,5.52837,5.70213,5.68065,5.90667,5.86156,6.05005,6.05613,6.81371,6.05613

## LandCrop
arable land: 27.4% (2018 est.)

permanent crops: 1.9% (2018 est.)

In [141]:
kosovo = [
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887
]

In [142]:
v = 'LandCrop'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = np.asarray(kosovo)*(0.274+0.019)
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = round(dt,5)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,7.750,7.800,7.850,7.905,7.910,7.955,7.979,7.980,...,7.910,7.910,7.910,8.010,8.010,8.051,8.051,8.051,7.750,8.051
1,Albania,ALB,0.479,0.487,0.495,0.501,0.522,0.540,0.556,0.570,...,0.696,0.704,0.696,0.696,0.696,0.688,0.688,0.686,0.479,0.686
2,Algeria,DZA,7.066,6.900,6.810,6.753,6.784,6.784,6.866,6.787,...,8.462,8.418,8.483,8.496,8.510,8.481,8.471,8.504,7.066,8.504
3,Angola,AGO,3.170,3.200,3.220,3.250,3.270,3.300,3.330,3.360,...,5.425,5.657,5.667,5.674,5.680,5.685,5.690,5.690,3.170,5.690
4,Argentina,ARG,19.472,20.061,20.486,20.892,21.358,22.511,23.249,24.765,...,41.353,41.034,41.375,41.249,41.918,42.998,43.297,44.167,19.472,44.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,3.482,3.482,3.482,3.484,3.484,3.484,3.496,3.498,...,3.300,3.300,3.300,3.300,3.300,3.300,3.300,3.300,3.482,3.300
184,Viet Nam,VNM,6.020,6.025,6.030,6.035,6.040,6.045,6.070,6.095,...,11.506,11.530,11.527,11.498,11.746,11.718,11.718,11.673,6.020,11.673
185,Yemen,YEM,1.337,1.348,1.360,1.370,1.380,1.391,1.398,1.403,...,1.433,1.386,1.452,1.452,1.452,1.452,1.452,1.452,1.337,1.452
186,Zambia,ZMB,2.557,2.560,2.584,2.609,2.613,2.667,2.681,2.715,...,3.739,3.739,3.839,3.839,3.839,3.839,3.839,3.839,2.557,3.839
187,Zimbabwe,ZWE,0.996,1.034,1.099,1.133,1.177,1.157,1.225,1.244,...,3.342,3.428,3.300,3.368,3.188,3.279,3.136,3.176,0.996,3.176

## LandForest
forest: 41.7% (2018 est.)

In [143]:
kosovo = [
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
np.nan,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887,
1.0887
]

In [144]:
v = 'LandForest'
dt = pd.read_csv(f'IFs Import/{v}.csv')
dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Kosovo','KSV')] = np.asarray(kosovo)*0.417
dt = dt.reset_index()

df = dt
df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="Value")
df1 = df[df['Country'] == 'Kosovo']
df2 = df[df['Country'] == 'Serbia']
df = df1.merge(df2, on=['Year'], how = 'outer')
df.Value_x = df.Value_x.fillna(0)
df['Serbia'] = df['Value_y'] - df['Value_x']
serbia = list(df['Serbia'])
serbia.append(serbia[0])
serbia.append(serbia[-2])
serbia

dt = dt.set_index(["Country","FIPS_CODE"])
dt.loc[('Serbia','YUG')] = serbia
dt = round(dt,5)
dt = dt.reset_index()

dt.to_csv(f'IFs Import/full/{v}.csv', index = False)
dt

,Country,FIPS_CODE,1990,1991,1992,1993,1994,1995,1996,1997,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
0,Afghanistan,AFG,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,...,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844,1.20844
1,Albania,ALB,0.78880,0.78685,0.78490,0.78295,0.78100,0.77905,0.77710,0.77515,...,0.78919,0.78918,0.78890,0.78890,0.78890,0.78890,0.78890,0.78890,0.78880,0.78890
2,Algeria,DZA,1.66700,1.65820,1.64940,1.64060,1.63180,1.62300,1.61420,1.60540,...,1.95600,1.95600,1.94300,1.93000,1.93900,1.94900,1.95833,1.96811,1.66700,1.96811
3,Angola,AGO,79.26278,79.10736,78.95195,78.79653,78.64111,78.48570,78.33028,78.17486,...,69.38269,68.82762,68.27257,67.71751,67.16244,66.60738,66.05231,65.49725,79.26278,65.49725
4,Argentina,ARG,35.20400,35.02140,34.83880,34.65620,34.47360,34.29100,34.10840,33.92580,...,29.09700,29.01000,28.89900,28.79100,28.68100,28.57300,28.46367,28.35522,35.20400,28.35522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,52.02600,51.73850,51.45100,51.16350,50.87600,50.58850,50.30100,50.01350,...,46.68300,46.54326,46.42818,46.33776,46.27200,46.23090,46.17336,46.12678,52.02600,46.12678
184,Viet Nam,VNM,9.37596,9.61677,9.85759,10.09840,10.33922,10.58003,10.82084,11.06166,...,14.06186,14.37768,14.41539,14.49129,14.56719,14.64309,14.71899,14.79489,9.37596,14.79489
185,Yemen,YEM,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,...,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900,0.54900
186,Zambia,ZMB,47.41200,47.37620,47.34040,47.30460,47.26880,47.23300,47.19720,47.16140,...,45.75510,45.56680,45.37867,45.19046,45.00224,44.81403,44.62581,44.43760,47.41200,44.43760
187,Zimbabwe,ZWE,18.82668,18.78061,18.73454,18.68847,18.64240,18.59633,18.55026,18.50419,...,17.67493,17.62886,17.58279,17.53672,17.49065,17.44458,17.39851,17.35244,18.82668,17.35244

## LandOther%

In [153]:

df = pd.read_csv('IFs Import/full/LandTotal.csv')
dt = pd.read_csv('IFs Import/full/LandOther.csv')

df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="total")

dt = dt.drop(columns=['Earliest','MostRecent'])
dt = dt.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="other")

dd = df.merge(dt, on = ['Country','FIPS_CODE','Year'])
dd['val'] = round(dd['other']/dd['total']*100,3)



n = 'Country'
y = 'Year'
first_last = dd.sort_values([n,y]).groupby(dd[n])['val'] \
        .agg(['first', 'last']).reset_index()
first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})

dd = dd.pivot_table(index = n,
                columns= y,
                values = 'val').reset_index()
dd = dd.merge(first_last,
            on = n,
            how = 'left')
dd = country.merge(dd,
                on = n,
                how = 'left')
dd = dd.drop(columns= 'Area')
dd = dd.drop_duplicates()
dd.to_csv('IFs Import/full/LandOther%.csv', index = False)

## LandPasture%

In [155]:

df = pd.read_csv('IFs Import/full/LandTotal.csv')
dt = pd.read_csv('IFs Import/full/LandGrazing.csv')

df = df.drop(columns=['Earliest','MostRecent'])
df = df.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="total")

dt = dt.drop(columns=['Earliest','MostRecent'])
dt = dt.melt(id_vars= ["Country","FIPS_CODE"],var_name="Year",value_name="pasture")

dd = df.merge(dt, on = ['Country','FIPS_CODE','Year'])
dd['val'] = round(dd['pasture']/dd['total']*100,3)



n = 'Country'
y = 'Year'
first_last = dd.sort_values([n,y]).groupby(dd[n])['val'] \
        .agg(['first', 'last']).reset_index()
first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})

dd = dd.pivot_table(index = n,
                columns= y,
                values = 'val').reset_index()
dd = dd.merge(first_last,
            on = n,
            how = 'left')
dd = country.merge(dd,
                on = n,
                how = 'left')
dd = dd.drop(columns= 'Area')
dd = dd.drop_duplicates()
dd.to_csv('IFs Import/full/LandPasture%.csv', index = False)